.sidebar {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #baf7a5;
    border-right: 4px solid #71ef54;
}

.player {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}