.controls {

    position: absolute;

    left: 50%;

    bottom: 44px;

    transform: translateX(-50%);

    width: 20%;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

@media (max-width: 768px) {

    .controls {

        width: 24%;

        bottom: 40px;

    }

}

@media (max-width: 480px) {

    .controls {

        width: 30%;

        bottom: 34px;

    }

}