.item {

    display: flex;

    align-items: center;

    gap: 1rem;

    width: 100%;

    padding: .9rem 1rem;

    border: none;

    background: transparent;

    cursor: pointer;

    border-radius: 14px;

    transition: .2s;

}

.item:hover {

    background: var(--color-secondary);

}

.icon {

    width: 26px;

}