.root {

    --window-size: 450px;

    width: var(--window-size);

    height: var(--window-size);

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-shrink: 0;

}