.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: var(--radius-lg);
    display: block;
}