.badge {

    display: inline-block;

    width: max-content;

    padding: .55rem 1rem;

    border-radius: 999px;

    background: var(--color-primary);

    font-weight: bold;

}

.title {

    margin-top: 1rem;

    font-size: 3rem;

    line-height: 1.15;

}

.description {

    margin-top: 1rem;

    max-width: 550px;

    line-height: 1.8;

    color: #666;

}